Django==4.0.2
djangorestframework
djangorestframework-simplejwt
django_extensions
django-cors-headers
django-filter
drf-yasg
markdown
mysql-connector-python
psycopg2-binary
python-decouple
pytest-django